/* App.css */

/* You can add this to index.css to apply globally */
body {
  font-family: 'Plus Jakarta Sans', 'Arial', sans-serif;
  background: #f4f4f4;
  margin: 0px;
  padding: 0px;
}

.main-content {
  margin-top: 64px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
  grid-gap: 20px; /* Space between cards */
  justify-content: center;
}
/* ... other styles ... */

/* Navbar.css */
.navbar {
  height: 32px;
  width: 100%;
  padding: 16px 16px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.navbar-logo {
  height: 100%; /* Fill the navbar height */
  width: auto; /* Adjust width to maintain aspect ratio */
}

/* App.css */
.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 6px 4px 4px
   rgba(0, 0, 0, 0.02);
  padding: 20px;
  margin: 0px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e5e5e5;
}

.card-header {
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
}

.card-time {
  font-size: 1.25em;
  color: #333;
  margin: 5px 0;
}

.card-details {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.card-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.counter-button {
  background: #eee;
  border: none;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
  color: #333;
}

.counter-value {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 12px;
  text-align: center;
  flex-grow: 1;
  margin: 0 10px;
  font-size: 1em;
  width: 0px;
}

/* Modal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  width: 500px; /* Adjust as needed */
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.5rem;
  font-weight: 700;
}

.sub-title {
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.close-button:hover {
  cursor: pointer !important;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.city-input {
  padding: 12px;
  font-size: 14px;
  font-family: Plus Jakarta Sans;
  border: 1px solid #cecece;
  border-radius: 8px;
}

.show-button {
  padding: 16px;
  background-color: #00D7B0; /* Bootstrap primary color for example */
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  width: 100%;
}

/* When modal is displayed */
.modal.show {
  display: flex;
}

.suggestions-list {
  position: absolute;
  top: 100%; /* Position it right below the input field */
  left: 0;
  right: 0;
  z-index: 10; /* Ensure it stacks above other content */
  background: white; /* Background color for the dropdown */
  border: 1px solid #ddd; /* Border for the dropdown */
  border-top: none; /* Optionally remove the top border */
  list-style-type: none; /* Remove bullet points from list items */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  max-height: 200px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Add scroll if there are many items */
}

.suggestions-list li {
  padding: 10px; /* Padding for list items */
  cursor: pointer; /* Change cursor to indicate interactivity */
}

.suggestions-list li:hover {
  background-color: #f2f2f2; /* Color change on hover for visual feedback */
}

.date-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.date-info > div {
  margin-bottom: 5px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
  body {
    padding: 0px;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 column for mobile screens */
    padding: 16px;
    grid-gap: 16px;
  }
  .modal-content {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    width: 75%; /* Adjust as needed */
    gap: 16px;
  }
}
